---
# Managed by Ansible
sleep_time: 30
log:
  level: DEBUG
graphite:
  host: {{ 1wire_graphite_server }}
  device_location: {{ host }}
sensor_mappings:
# sensors from /sys/bus/w1/devices
#  '28-???': 
